<div id="sub_{{id}}" class="sub">
  <span class="sub__name">{{subName}}</span>
  <span class="sub__lvl">Уровень {{lvl}}</span>
  {{{subImg}}}
  <div class="sub__price">
    <span class="sub__price_count">&#8381;{{price}}</span>
    <span class="sub__price_period">{{period}}</span>
  </div>
  {{{button}}}
  <div lang="ru" id="motivation_{{id}}" class="sub__motivation">{{motivation}}</div>
</div>