<span class="input__label">{{label}}</span>
<div class="input__back">
  <input class="input__field" type="{{type}}" placeholder="{{placeholder}}" name="{{name}}">
  {{#with icon}}
    <img class="input__icon" src="{{this}}" alt="icon">
  {{/with}}
</div>