<div class="subscription-card__header">
  <span class="subscription-card__title font_regular">{{subName}}</span>
  <span class="subscription-card__tier font_small">Ранг {{tier}}</span>
</div>
<div class="subscription-card__img"></div>
<div class="price">
  <span class="price__count font_regular">{{price}}&#8381;</span>
  <span class="price__period font_regular">{{period}}</span>
</div>
<div class="subscription-card__btn-area"></div>
<div lang="ru" id="motivation_{{id}}" class="subscription-card__motivation font_small">{{description}}</div>