  <span class="sub__name">{{subName}}</span>
  <span class="sub__lvl">Уровень {{lvl}}</span>
  <div class="sub__img"></div>
  <div class="price">
    <span class="price__count">&#8381;{{price}}</span>
    <span class="price__period">{{period}}</span>
  </div>
  <div class="sub__button"></div>
  <div lang="ru" id="motivation_{{id}}" class="sub__motivation">{{description}}</div>