<div class="post__head">
  {{{avatarImg}}}
  <div class="post__head_user_n_date">
    <span class="post__head_user">{{username}}</span>
    <span class="post__head_date">{{date}}</span>
  </div>
</div>
<div class="post__content">
  {{content}}
</div>
<div id="reaction_{{id}}" class="post__reaction">
    {{{likes}}}
    {{{comments}}}
</div>