<div class="main">
  <form class="form" action="index.html" method="get">
    <span class="form__text_type_logo form__text_align_center">ВДонате</span>
    <span class="form__text_type_header form__text_align_center">{{formTitle}}</span>
    {{#each inputs}}
      <div class="form-input">
        <span class="form-input__text">{{title}}</span>
        <input class="form-input__input" type="{{type}}" name="{{name}}">
      </div>
    {{/each}}
    <input class="form__text_type_main" type="submit" value="{{buttonTittle}}">
    {{#with orButton}}
      <span>или</span>
      <a href="{{link}}" data-link>
        <button>
          {{title}}
        </button>
      </a>
    {{/with}}
  </form>
</div>