<div class="main">
  <form class="form" name="{{formName}}" onsubmit="processForm(this); return false;">
    <div class="form__back">
      <span class="form__text logo">ВДонате</span>
      <span class="form__text form__text_type_header">{{formTitle}}</span>
      <div class="form__text form__text_type_main error">
        <span id="error-msg" class="error__message"></span>
      </div>
      {{#each inputs}}
        <lable class="form__input input input__lable">{{title}}
          <input class="input__input" type="{{type}}" name="{{name}}" placeholder="{{placeholder}}">
        </lable>
      {{/each}}
      <input class="form__button form__text_type_main" type="submit" value="{{buttonTittle}}">
      {{#with orButton}}
        <span class="form__text form__text_type_sub">или</span>
        <a class="form__link" href="{{link}}" data-link>{{title}}</a>
      {{/with}}
    </div>
  </form>
</div>