<div class="main">
  <form class="form" name="{{formName}}" onsubmit="validationForm(this); return false;">
    <div class="form__back">
      <span class="form__text logo">ВДонате</span>
      <span class="form__text form__text_type_header">{{formTitle}}</span>
      <span id="error-text" class="form__text form__text_type_main error">Неверно введены данные!</span>
      {{#each inputs}}
        <div class="form__input input">
          <span class="input__text">{{title}}</span>
          <input class="input__input" type="{{type}}" name="{{name}}">
        </div>
      {{/each}}
      <input class="form__button form__text_type_main" type="submit" value="{{buttonTittle}}">
      {{#with orButton}}
        <span class="form__text form__text_type_sub">или</span>
        <a class="form__link" href="{{link}}" data-link>{{title}}</a>
      {{/with}}
    </div>
  </form>
</div>