<div class="input-field__back bg_input">
  <input class="input-field__input font_regular" type="{{type}}" {{#with placeholder}} placeholder="{{this}}" {{/with}} name="{{name}}" {{#with value}} value="{{this}}" {{/with}}>
  {{#with icon}}
    <img class="input-field__icon" src="{{this}}" alt="icon">
  {{/with}}
</div>