<div class="post__header">
  <div class="post__author-avatar"></div>
  <span class="post__author-name">{{username}}</span>
  <span class="post__date-created">{{date}}</span>
</div>
{{#if notAllowed}}
<div class="post__not-allowed">Нужен донат {{tier}} уровня</div>
<div class="post__content post-content post-content__text post-content_blured"> Думал самый хитрый?</div>
{{else}}
<div class="post__content post-content post-content__text">{{{text}}}</div>
{{/if}}
{{!-- <div class="post__content post-content post-content__text">{{{text}}}</div> --}}
<div class="post__reaction"></div>